/*h1 {
  color: #5179ba;

}
*/
h4{
  font-weight: 700;
}
.list-item {
  font-family: monospace;
}

#css-item {
  color: #5179ba;
}
#goal-button{
  border:2px solid black;
}
#goal-list {
  border-style: solid;
  border-color: #5179ba;
  width: 30%;
}
#picture {
  width: 60%;
  float: right;
  border: solid;
  border-color: grey beige white grey;
}
